@media(max-width: 1000px) {
    .menu ul {
        display: none;
    }

    .menu-btn {
        display: block;
    }

    /* Body */
    .job-flex-column {
        flex-wrap: wrap;
        gap: 0;
    }

    .job-flex-row {
        flex: 50%;
        padding: 20px;
    }

    .main-banner {
        flex-direction: column;
    }
}

@media(max-width: 670px) {

    /* Body */
    .job-flex-column {
        flex-direction: column;
    }

    .btn-explore-more{
        width: 50%;
    }
}