* {
    margin: 0;
}

/* Header styling */

.container {
    width: 1100px;
    margin: auto;
    position: relative;
    padding: 0 30px;
}

.logo a {
    float: left;
    font-size: xx-large;
    color: rgb(228, 190, 88);
    font-size: px;
    font-weight: 800;

}

.logo a span {
    color: rgb(255, 255, 255);
    transition: all 0.3s ease;
}

.menu {
    float: right;
}

.menu li a {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 10px;
    transition: color 0.3s ease;
}

.menu li a:hover {
    color: rgb(228, 190, 88);
}

.sticky .menu li a:hover {
    color: #fff;
}

.menu .btn-Login {
    width: 100px;
    height: 40px;
    background: transparent;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.3s ease;
}

.menu .btn-Login:hover {
    background: rgb(228, 190, 88);
    color: #ffffff;
}

/* menu btn styling */
.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: rgb(220, 77, 20);
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

.scroll-up-btn:hover {
    filter: brightness(90%);
}

header {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 100px;
    background: #033042;
    top: 0;
    position: sticky;
    position: -webkit-sticky;
    z-index: 1;
    border-bottom: 1px solid #000000;
    /* margin-bottom: 20px; */

}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header ul li {
    float: left;
}

header ul li a {
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: solid;
}

header ul li a:hover {
    text-decoration: double;
}

/* ====CONFIG CSS END==== */

/* ====CONFIG ANIMATION START==== */

@keyframes example {
    0% {
        color: blue;
    }

    10% {
        color: yellow;
    }

    25% {
        color: green;
    }

    50% {
        color: blue;
    }

    70% {
        color: yellow;
    }

    100% {
        color: green;
    }
}

/* ====CONFIG ANIMATION END==== */



.main {
    width: 100%;
    margin-bottom: 80px;
}

.banner-head{
    padding-top: 20px;
    background-color: azure;
}

.main-head {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
    padding-bottom: 20px;
}

div .head {
    display: flex;
    flex-direction: column;
    align-self: center;
    font-family: sans-serif;
}

.main-head div h1 {
    font-size: 70px;
    color: #5b95ac;
}

.main-head div p {
    text-align: center;
}

.head span {
    color: #033042;
    animation-name: example;
    animation-duration: 7s;
}

.main-head img {
    width: 400px;
}



.filters .filter {
    display: flex;
    flex-direction: row;
    padding-top: 150px;
}

.filter .filter-lokasi {
    display: flex;
    flex-direction: column;
}

.filter .filter-jurusan {
    display: flex;
    flex-direction: column;
}

.filter input {
    border-style: 1px;
    border-color: #033042;
    border-style: solid;
    outline: none;
    font-size: 13px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    margin-right: 10px;
    padding-left: 10px;
}

.filter button {
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-items: center;
    justify-content: center;
    height: 55px;
    width: 55px;
    background-color: #033042;
    border-style: none;
    border-radius: 10px;
}

button i {
    scale: 150%;
    color: white;
}

.filter button {
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-items: center;
    justify-content: center;
    height: 55px;
    width: 55px;
    background-color: #033042;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
}


.keyword {
    display: flex;
    padding-top: 50px;
}

.keyword a {
    padding-left: 15px;
    padding-top: 3px;
    text-decoration: none;
    color: #033042;
}

div h1 {
    text-align: center;
}

div .head-partner {
    padding-top: 50px;
    color: #033042;
    background-color: white;
}

div .partner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 50px;
    background-color: white;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 100px;
}

.partner img {
    width: 150px;
}




/* ====MAIN CSS END==== */

/* Body */
body {
    font-family: sans-serif;
}

.job-categories {
    text-align: center;
    /* padding: 0 80px; */
    max-width: 1200px;
    margin: auto;
    margin-bottom: 100px;
}

.job-categories h3 {
    font-size: 25px;
}

.job-flex-column {
    display: flex;
    gap: 20px;
}

.job-flex-row {
    flex: auto;
    box-sizing: border-box;
    padding: 20px 0;
}

.jobs {
    border-radius: 20px;
    border: 3px solid rgb(228, 190, 88);
    max-width: 300px;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    height: 100%;
}

.jobs:hover {
    background-color: rgb(228, 190, 88);
    cursor: pointer;
    transition: 0.3s;
}

.jobs i {
    padding: 15px;
    background-color: #033042;
    color: white;
    border-radius: 5px;
    font-size: 20px;
}

.jobs p {
    margin: 15px 0;
}

.job-available {
    background-color: #033042;
    color: white;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
}

.btn-explore-more {
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    background-color: #033042;
    border-radius: 5px;
    color: white;
    display: inline-block;
    cursor: pointer;
    width: 200px;
}

.btn-explore-more:hover {
    opacity: 0.8;
}

.btn-explore-more:active{
    background-color: rgb(228, 190, 88);
    color: black;
}

.main-banner {
    display: flex;
    max-width: 1200px;
    margin: auto;
    /* padding: 0 80px; */
    margin-bottom: 50px;
}

.main-banner-left {
    flex: 50%;
    box-sizing: border-box;
    padding: 20px;
}

.main-banner-right {
    flex: 50%;
    box-sizing: border-box;
    padding: 20px;
}

.main-banner-right h3 {
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 25px;
}

.main-banner-right p {
    margin-bottom: 15px;
}

.main-banner-left img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* Form */
.faq-form-container {
    max-width: 1200px;
    /* width: 100%; */
    padding: 0 15px;
    margin: 0 auto;
    height: 200px;
}

.faq-heading {
    padding-top: 50px;
    padding-bottom: 30px;
}

.faq-wrapper {
    padding-bottom: 50px;
    text-align: center;
    background-color: #033042;
    color: white;
    margin-bottom: 50px;
}

.faq-wrapper h2 {
    padding-bottom: 5px;
}

.tombol-faq {
    padding: 15px 40px;
    color: white;
    display: inline-block;
    border-radius: 4px;
    background-color: transparent;
    border: 2px solid white;
    cursor: pointer;
}

.tombol-faq:hover {
    background-color: rgb(228, 190, 88);
    transition: all .5s ease-in-out;
}

.form-buletin {
    width: 100%;
    padding-bottom: 30px;
}

.form-buletin h2 {
    color: #212529;
    padding-top: 20px;
    padding-bottom: 10px;
}

.form-buletin h4 {
    max-width: 400px;
    padding-bottom: 20px;
}

.form-buletin input,
textarea,
select {
    width: 300px;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 5px 5px;
    font-size: 15px;
    border-radius: 5px;
    display: block;
}

select {
    width: 300px;
}


.buletin-submit {
    display: inline;
    border-radius: 5px;
    background-color: #1c7c73;
    /* margin: 0 auto; */
}

.buletin-submit:hover {
    opacity: 0.8;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.contact-form {
    max-width: 1200px;
    margin: auto;
    /* margin-bottom: 80px; */
}